<p id="notice"><%= notice %></p>

<h1>Firearms</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Cartridge</th>
      <th>Classification</th>
      <th>Action</th>
      <th>Serial number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @firearms.each do |firearm| %>
      <tr>
        <td><%= firearm.make %></td>
        <td><%= firearm.model %></td>
        <td><%= firearm.cartridge %></td>
        <td><%= firearm.classification %></td>
        <td><%= firearm.action %></td>
        <td><%= firearm.serial_number %></td>
        <td><%= link_to 'Show', firearm %></td>
        <td><%= link_to 'Edit', edit_firearm_path(firearm) %></td>
        <td><%= link_to 'Destroy', firearm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Firearm', new_firearm_path %>
